<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eve.dao.IndustryBlueprintsMapper">
  <resultMap id="BaseResultMap" type="com.eve.entity.database.IndustryBlueprints">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="blueprintTypeID" jdbcType="INTEGER" property="blueprinttypeid" />
    <result column="maxProductionLimit" jdbcType="INTEGER" property="maxproductionlimit" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, blueprintTypeID, maxProductionLimit
  </sql>
  <select id="selectByExample" parameterType="com.eve.entity.database.IndustryBlueprintsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from industry_blueprints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from industry_blueprints
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from industry_blueprints
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eve.entity.database.IndustryBlueprintsExample">
    delete from industry_blueprints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eve.entity.database.IndustryBlueprints">
    insert into industry_blueprints (id, blueprintTypeID, maxProductionLimit
      )
    values (#{id,jdbcType=INTEGER}, #{blueprinttypeid,jdbcType=INTEGER}, #{maxproductionlimit,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eve.entity.database.IndustryBlueprints">
    insert into industry_blueprints
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="blueprinttypeid != null">
        blueprintTypeID,
      </if>
      <if test="maxproductionlimit != null">
        maxProductionLimit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="blueprinttypeid != null">
        #{blueprinttypeid,jdbcType=INTEGER},
      </if>
      <if test="maxproductionlimit != null">
        #{maxproductionlimit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eve.entity.database.IndustryBlueprintsExample" resultType="java.lang.Long">
    select count(*) from industry_blueprints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update industry_blueprints
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.blueprinttypeid != null">
        blueprintTypeID = #{record.blueprinttypeid,jdbcType=INTEGER},
      </if>
      <if test="record.maxproductionlimit != null">
        maxProductionLimit = #{record.maxproductionlimit,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update industry_blueprints
    set id = #{record.id,jdbcType=INTEGER},
      blueprintTypeID = #{record.blueprinttypeid,jdbcType=INTEGER},
      maxProductionLimit = #{record.maxproductionlimit,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eve.entity.database.IndustryBlueprints">
    update industry_blueprints
    <set>
      <if test="blueprinttypeid != null">
        blueprintTypeID = #{blueprinttypeid,jdbcType=INTEGER},
      </if>
      <if test="maxproductionlimit != null">
        maxProductionLimit = #{maxproductionlimit,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eve.entity.database.IndustryBlueprints">
    update industry_blueprints
    set blueprintTypeID = #{blueprinttypeid,jdbcType=INTEGER},
      maxProductionLimit = #{maxproductionlimit,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>